@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/* *{
    padding: 0;
    margin: 0;
}*/

body{

    background: color #f1f1f1;;
    color:black;

    font-size: 16px;
    font-weight:normal;
    font-family: 'Roboto', 'san-serif';

   /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
   /*font: normal 16px 'Roboto', 'san-serif';*/
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: cadetblue;
}
a:visited{
    color: darkblue;
}
.avatar {
    width: 200px;
    border-radius: 29px;
    box-shadow: -20px -9px 6px 1px
     rgba(0,0,0,0.25);
}
.container #me h1,p,h4 {
    padding-bottom: 5px;
}
.info{
    display: flex;
    margin-bottom: 20px;    
}
@media (max-width:700px) {
    .info{
        text-align: center;
        display: block;
    }

}
.info-text{
margin-left: 40px;

}
.info-text h4{
    margin-bottom: 10px;
}
.info p{
    color:rgb(20, 78, 78);
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 42px;*/
    /*box Model*/
}

    .container {
        max-width: auto;
        margin: auto;
        padding-top: 30px;
        margin-left: 15px;

    } 

    
 

/*.social{
 background: green;
 /* padding: 15px; */
  /*padding : 5px 10px;
  padding: 5px 10px 15px 20px;
 padding-top: 10px;
 padding-right: 15px;
 padding-bottom: 20px;
 padding-left: 25px;
  margin: 5px;
  border: 5px solid red;
  border-bottom-style: dotted;
  border-top-color: black; 
  border-top-width: 10px;
  border-right-color: blue;

}*/
/*.box-model > div{
    float: left;
    background: black;
    height: 200px;
    border: 4px solid red;
    width: 25%;
   box-sizing: border-box;

}*/

.bg-yellow{
    background: #fff9dc;
}

.bg-green {
    background: #d3f8d6;
}
.bg-red{
    background: #eecccc;
}

.card {
    padding: 15px 20px;
margin-bottom: 20px;
border-radius: 20px;
}

.card h2{
    margin-bottom: 10px;
}
 .list{
     padding: 0 20px;
    
 }
 .list li{
     color: #86898f;
     margin-bottom: 10px;
 }
 .table{
     width: 100%;
 }
 .table td{
     padding-bottom: 10px;
 }

 .table td:nth-child(1), .table td:nth-child(2){
     color: #86898f;
 }
 /*.table tr:nth-child(even){
     background: red;
 }*/
.link-list{

    list-style: none;
   padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid
    #ccc;
}
.contact h2{
    text-align: center;

}
.form-group label{
    display: block;
    font-size: 14px;
    color: #31353d;
}
/*.form-group input,.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
   background: transparent;
  border-bottom: 2px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}*/
.row{
    display: flex;
    margin-bottom: 20px;
}
.row > .form-group{
    width: 50%;
    margin-right: 20px;

}

.row >.form-group:last-child{
    margin-right: 0%;
}
.btn{
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
/*Position
.position{
    position: relative;
border: 4px solid black;
margin-top: 40px;
padding: 20px;
height: 300px;

}
.box{
    position: fixed;
    top: 0;
    left: 0px;
   /* bottom: 150px;
    left: 0px;
    width: 50px;
    height: 50px;
    background:lightcoral
}*/
